<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 3GB Files / in byte (3072*1024*1024) -->
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>

